

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
dist/
build/
.env
.venv/
venv/


# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars


# Dataform credentials
dataform/.df-credentials.json


# Sensitive Terraform vars
*.tfvars
*.tfvars.json

# Lock file (optional: keep if working in team)
# .terraform.lock.hcl


# docker
*.log
scraper/__pycache__/
pipeline/__pycache__/

# etc
.DS_Store
Thumbs.db
.vscode/
.idea/
*.bak
*.tmp


# Backfill Database
data/xivpf.db


